

 <div class="container mt-4">
    <h5>GESTIÓN DE ESTUDIANTES</h5>
    <div class="text-end">
        <a href="/estudiantes/nuevo" class="btn btn-success"> <i class="fa fa-add"></i> Agregar Estudiante</a>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="table-response">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <td>ID</td>
                        <td>NOMBRE</td>
                        <td>APELLIDO</td>
                        <td>EMAIL</td>
                        <td>FECHA DE NACIMIENTO</td>
                        <td>UNIVERSIDAD</td>
                        <td>CARRERA</td>

                    </tr>
                    </thead>
                    <tbody>
                        {% for item in estudiantes %}
                    


                    <tr th:each="estudiante : ${estudiantes}">
                        <td>{{estudiantes.CodEstudiante}}</td>
                        <td>{{estudiantes.AñoIngreso}}</td>
                        <td >{{estudiantes.Apellido}}</td>
                        <td >{{estudiantes.Nombre}}</td>
                        <td >{{estudiantes.Telefono}}</td>
                        <td class="text-end">
                            <div class="btn-group btn-group-sm">
                                <a th:href="@{/estudiantes/editar/{id} (id=*{estudiante.id})}" class="btn btn-primary" title="Estudiante">
                                    <i class="fa fa-edit"></i>
                                </a>

                                <a href="#" class="btn btn-danger" title="Eliminar" onclick="eliminar(this)">
                                    <i class="fa fa-trash"></i>
                                </a>
                                <form th:action="@{/estudiantes/eliminar/{id} (id=*{curso.id})}" method="post" class="d-none">
                                </form>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


